.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__date-location {
  margin-left: 24px;
  font-size: 1.25rem;
  font-weight: 700;
}

.header__nav {
  display: flex;
  align-items: center;
}

.add-clothes-button {
  margin-right: 20px;
  padding: 0;
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s linear;
}

.add-clothes-button:hover {
  opacity: 0.6;
}

.header__username {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 12px;
}

.header__username-link {
  color: black;
  text-decoration: none;
}

.header__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
