.modal__container-image {
  margin: auto;
  width: 498px;
  height: 610px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.modal__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 498px;
}

.image-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-left: 32px;
}

.image-weather {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-left: 32px;
}

.modal__delete-btn {
  position: absolute;
  bottom: 65px;
  right: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5rem;
  color: red;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.modal__close-button_image {
  top: 24px;
  right: 24px;
}
