.modal__image-container {
  margin: auto;
  width: 498px;
  height: 610px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.modal__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  max-height: 498px;
}

.image__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-left: 32px;
}

.image-weather {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-left: 32px;
}

.modal__delete-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5rem;
  margin-right: 32px;
  margin-top: 20px;
  color: red;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.modal__delete-btn_hidden {
  visibility: hidden;
}

.modal__close-button_image {
  top: 24px;
  right: 24px;
}
