.main {
  padding: 0 20px;
}

.card__section {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.clothing__cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px;
  margin: 34px auto 0 auto;
  padding: 0;
}
